.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    @media screen and (min-width: 1280px) {

    }

}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10vh;
    min-height: 10vw;
    min-width: 30vw;

    @media screen and (min-width: 1280px) {
       bottom: inherit;
       flex-direction: column;
       left: 0vw;
       top: 25vw;
       min-height: 20vw;
       min-width: 15vw;
    }

    @media screen and (min-width: 1440px) {
        top: 20vw;
        min-height: 15vw;
        min-width: 15vw;
     }
}

.down__container {
    position: absolute;
    bottom: 10vh;
    right: 5vh;
    height: 10vw;
    transition: transform 0.3s ease-in-out;

    @media screen and (min-width: 1280px) {
        left: 2vw;
        right: inherit;
        height: 3vw;
    }

    @media screen and (min-width: 1440px) {
        left: 2.5vw;
        height: 2vw;
    }
}

.down__active {
    transform: rotate(180deg);
}

.pink__container {
    font-size: 5vw;
    margin-bottom: 63px;

    @media screen and (min-width: 1280px) {
        font-size: 2vw;
    }
}

.subtitle__container {
    letter-spacing: 9px;
}