
.title {
    font-size: 12vw;
}

.title__container {
    position: relative;
    z-index: 2;
}

.graphique__container {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    width: 70%;
    .graphique {
        font-size: 8vw;
    }
}

.sub_pres__container {
    width: 70%;
    margin-left: 4vw;
    margin-top: 5vw;
}

.button {
    margin-top: 8vw;
}

.video__container {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: -45vw;
    .video {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .video__container {
        width: 90%;
        top: -40vw;
    }
}

@media screen and (min-width: 768px) {
    .title__container {
        position: relative;
        z-index: 2;
        width: 70%;
    }
    
    .video__container {
        width: 50%;
        top: 0;
        right: 3.7vw;
    }

    .title {
        font-size: 8vw;
    }

    .graphique__container {
        margin-right: 2vw;
        position: relative;
        z-index: 2;
        .graphique {
            font-size: 5vw;
        }
    }

    .sub_pres__container {
        font-size: 2.5vw;
        margin-top: 2.5vw ;
    }

    .button {
        position: absolute;
        left: 17vw;
        bottom: -2vw;
    }

}