
.title {
    font-size: 12vw;
}

.title__container {
    position: relative;
    z-index: 2;
}

.graphique__container {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    width: 70%;
    .graphique {
        font-size: 8vw;
    }
}

.sub_pres__container {
    width: 70%;
    margin-left: 4vw;
    margin-top: 5vw;
}

.button {
    margin-top: 8vw;
}

.video__container {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: -30vh;
    .video {
        width: 100%;
    }
}