.container {
    display: none;
    height: 100%;
    margin-right: 2vw;
    

    @media screen and (min-width: 1280px) {
       display: flex;
       align-items: center;
    }

    @media screen and (min-width: 1440px) {

    }
}

.medias__container {
    display: flex;
    .media {
        margin-right: 2vw;
        width: 3vw;
    }

    @media screen and (min-width: 1280px) {
        .media {
            width: 2vw;
        }
    }
}
.contact__container {

    height: 100%;
    font-size: 3vw;
    margin-right: 2vw;

    .contact {

    }

    @media screen and (min-width: 1440px) {
        font-size: 2vw;

        // .contact {
        //     margin-top: 3vw;
        // }
    }
}

.image__container {
    margin-top: 1vw;
    @media screen and (min-width: 1440px) {
        width: 6vw;
        margin-top: -0.5vw;
    }
}


.white {
    color: white
};