.button__border {
    border: 2px solid #ff476b;
    border-radius: 25px;
    padding: 0.5vw 1.5vw;
    .button__text {
        color: #ff476b
    }
}

@media screen and (min-width: 1280px) {
    .button__border {
        padding: 1vw 3vw;
    }
}