.container {
    width: 100%;
    height: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;

    .name {
        color: #fff;
        padding-left: 5vw;
        color: #7a71f2;
        font-size: 5vw;
    }

    .flower__container {
        width: 8vw; 
        height: 8vw;
        padding-right: 5vw;
    }
        .flower {
            width: 100%;
            height: 100%;
            transform: rotate(45deg);
        }
    }