.container {
    height: 3vw;
    width: 3vw;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    background-color: hwb(0 100% 0%);
    position: relative;
    z-index: 10;

}

.active {
    height: 5vw;
    width: 5vw;
    background-color: transparent;
}

@media screen and (min-width: 1280px) {
    .container {
        height: 1.5vw;
        width: 1.5vw;
    }
    
    .active {
        height: 2vw;
        width: 2vw;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        height: 1vw;
        width: 1vw;
    }
    
    .active {
        height: 1.5vw;
        width: 1.5vw;
    }
}