.container {

}

.title__container {

    width: 80%;

    .title {
        font-size: 12vw;
        position: relative;
        z-index: 2;
    }
}


.graphique__container {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    width: 70%;
    .graphique {
        font-size: 8vw;
    }
}

.sub_pres__container {
    width: 80%;
    margin-left: 4vw;
    margin-top: 3vw;
    margin-bottom: 0;
}

.button {
    margin-top: 8vw;
    font-size: 4vw;
}

.image__container {
    position: absolute;
    top: -46vh;
    z-index: -1;
    background-color: red;

    /* Ajustement pour respecter la taille naturelle */
    width: 60%; /* Laisse l'image définir sa largeur */
    height: auto; /* Laisse l'image définir sa hauteur */

    img {
        display: block; /* Évite les marges indésirables */
        max-width: 100%; /* Empêche l'image de dépasser la taille du conteneur parent */
        height: auto; /* Respecte le ratio de l'image */
    }
    @media screen and (min-width: 375px) {
        width: 70%; /* Laisse l'image définir sa largeur */
    }

    @media screen and (min-width: 768px) {
        width: 55%;
    }

    @media screen and (min-width: 1280px) {
        width: 35%;
        top: -5vh;
        right: 10vh;
    }
    @media screen and (min-width: 1440px) {
        width: 30%;
        top: -5vh;
        right: 10vw;
    }
}

@media screen and (min-width: 1280px) {
    .title__container {
        width: 70%;
        .title {
            font-size: 8vw
        }
    }

    .sub_pres__container {
        width: 73%;
    }

    .button {
        position: absolute;
        top: 10vw;
        left: 15vw;
        font-size: 1.2vw;
    }
}

@media screen and (min-width: 1440px) {
    .title__container {
        width: 70%;
        .title {
            font-size: 8vw
        }
    }

    .sub_pres__container {
        width: 73%;
    }

    .button {
        position: absolute;
        top: 10vw;
        left: 15vw;
        font-size: 1vw;
    }
}