.title {
    font-size: 12vw;
    margin-bottom: 10vw;
}

.subtitle__container {
    text-align: center;
    letter-spacing: inherit;
    .subtitle {
        font-size: 4vw;
        margin-bottom: 1vw;
    }
}

.sub_pres__container {
    margin-top: 5vw;
    text-align: center;
    margin-bottom: 0;
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
    font-size: 7vw;
    a{
        text-decoration: none;
        margin-top: 5vw;
    }
}

.medias {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 5vw
} 

.contact__medias__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-top: 10vw;
    font-size: 4vw;
    width: 40%;
    margin-left: 20%;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 8vw;
    }

    .subtitle__container {
        .subtitle {
            font-size: 3vw;
        }
    }

    .sub_pres__container {
        font-size: 3vw;
    }

    .contact__container {
        font-size: 4vw;
    }

    .medias {
        width: 40%;
        .media {
            width: 5vw;
        }
    }

    .button {
        margin-top: 5vw;
        margin-bottom: -3vw;
        font-size: 3.5vw;
        width: 50%;
        margin-left: 15%;
    }
    
}

@media screen and (min-width: 1020px) {
    
    .button {
        margin-top: 3vw;
        margin-bottom: -5vw;
        font-size: 2vw;
        width: 30%;
        margin-left: 25%;
    }
}

@media screen and (min-width: 1280px) {
    .title {
        font-size: 8vw;
        margin-bottom: 5vw;
    }

    .subtitle__container {
        .subtitle {
            font-size: 3vw;
        }
    }

    .sub_pres__container {
        font-size: 2vw;
        margin-bottom: 0;
        margin-top: 1vw;
    }

    .contact__container {
        font-size: 2.5vw;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 65%;
        a {
            margin-top: 0;
        }
    }

    .medias {
        width: 30%;
        .media {
            width: 4vw;
        }
    }

    .contact__medias__container {
        position: absolute;
        bottom: -34.5vh;
        left: 12vw;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 85%;

    }

    .button {
        margin-top: 3vw;
        margin-bottom: -10vw;
        font-size: 1.8vw;
        width: 40%;
        margin-left: 20%;
    }
    
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 6vw;
        margin-bottom: 3vw;
    }

    .subtitle__container {
        .subtitle {
            font-size: 2.2vw;
        }
    }

    .sub_pres__container {
        font-size: 1.5vw;
        margin-bottom: 0;
        margin-top: 1vw;
    }

    .contact__container {
        font-size: 2vw;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 65%;
        a {
            margin-top: 0;
        }
    }

    .medias {
        width: 30%;
        .media {
            width: 3vw;
        }
    }

    .contact__medias__container {
        margin-top: 3.5vw;
        display: flex;
        width: 70%;
        margin-left: 10%;

    }

    .button {
        margin-top: 3vw;
        margin-bottom: -7.5vw;
        font-size: 1.2vw;
        width: 40%;
        margin-left: 20%;
    }
    
}