.wabisabi__container {
    color: white;
    position: absolute;
    width: 100%;
    transition: top 1s ease-in-out;
    top:    30vw;
    /* z-index: 10; */
    
    
}

.wabisabi__title__container {

}

.wabisabi_title {

}

.wabisabi__subtitle__container {
    
}

.wabisabi__subtitle {

}

.wabisabi__subtitle__flower__container {

}


.wabisabi__subtitle__flower {

}

.description__title {

}

.animation_down  {
    top: -55vw;;
}

.animation_up {
    top: 30vw;
}